# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# testing
/coverage

# env files
.env*
!.env.example
env.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
